
div#myTopbar{
  font-family: "Kristen ITC", "Tempus Sans ITC", Verdana;
  color: #ffffc1!important;  /* lichtgeel  */
  background-color: #036!important;
}

div#hgDropDownMore .button{
  color: #ffffc1!important;  /* lichtgeel  */
  background-color: #036!important;
}

div#hgDropDownContent{
  color: #ffffc1!important;  /* lichtgeel  */
  background-color: #036!important;
}

nav#mySidebar {
 top: unset!important;
 bottom: unset!important;

 height: fit-content!important;  /*  anders wordt hij oneindig lang */
 font-family: "Kristen ITC", "Tempus Sans ITC", Verdana;
 font-size: 17px;
 font-weight: bold;
}

nav#mySidebarNw {
 /* top: unset!important; */
/* bottom: unset!important; */

 /* height: fit-content!important;*/  /*  anders wordt hij oneindig lang */
 font-family: "Kristen ITC", "Tempus Sans ITC", Verdana;
 font-size: 17px;
 font-weight: bold;
}

nav.w3-sidebar-hg {
 top: unset!important;
 bottom: unset!important;
}

.visionq_body_smal{
    max-width: 993px;
    margin: auto;
}

.visionq_small_width{
    max-width: 993px;
}
.visionq_main_smal{
    margin-left: 200px!important;
    margin-right: auto;

}
.visionq_smal{
    margin-left: auto;
    margin-right: auto;

}
.visionq_topbar_smal{
    margin-left: auto!important;
    margin-right: auto!important;
/*    position:absolute;
    left:0px;  */
}

.sidebar_visionq_smal{
 width: 200px!important;

}
.visionq_footer_smal{
 position:absolute;
 left:0px;
}

.main-visionq{
/*  kleuren van #content - sectie in standaard.css */
	background-color: #ffffc1;  /* lichtgeel  */
}

.main-theme-visionq{
/*  kleuren van #content - sectie in standaard.css */
	background-color: #ffffc1;  /* lichtgeel  */
}

.italic_visionq{
    font-style: italic;
}

.container_vq_image{
  padding-top: 32px!important;
  padding-bottom: 32px!important;
  text-align: center;
}

.panel_visionq{

}

.ul-visionq{
  list-style-type: none;
}
.link-visionq{
/*   text-decoration: unset!important;  */
  text-decoration: none;
  font-weight: bold;
}

.quote-visionq_orig{
   font-size: 13px; /*  orig 11px; */
   font-style: italic;
   line-height: 1.5;
   color: rgb(255,0,0);
   padding-top: 32px!important;
   padding-bottom: 32px!important;
}

.xquote-visionq{
   font-size: 12px;
   line-height: 1.5;
   color: rgb(255,0,0);
   padding-bottom: 32px!important;
}


.test_quote-visionq{
   font-size: 13px;
   font-style: italic;
   padding-bottom: 32px!important;
   color: #000!important;
   /* background-color:  #bbdeaf!important;  */
}

.copyright_vq{
    font-family: "Kristen ITC", "Tempus Sans ITC", Verdana;
    color: #036;
    text-align: right;
    margin-right: 20px;
    padding-bottom: 10px;

}
